@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 50px;
}

#bg {
  display: block;
  position: fixed;
  z-index: -1;
  width: 100%;
  min-height: 100%;
  overflow: auto;
  object-fit: cover;
  justify-items: center;
  align-items: center;
}

#searchbar-container {
  text-align: center;
  padding-top: 50px;
}

.weather-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
  gap: 50px;
}

.temperature {
  font-size: 30px;
  font-weight: bold;
}

.weather-today {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 24px 1fr;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  width: 70%;
  min-width: 450px;
  background: rgba(0, 0, 0, 0.75);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(100, 100, 100, 0.75) 100%
  );
}

.weather-today * {
  padding: 0 24px;
}

.weather-today .date {
  grid-column: span 3;
  text-align: center;
}

.weather-today > div {
  text-align: center;
}

.weather-today > div > p:last-child {
  font-size: 16px;
}

.weather-forecast {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  width: 70%;
  min-width: 450px;
  border: 2px solid;
  background: rgba(0, 0, 0, 0.75);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(100, 100, 100, 0.75) 100%
  );
}

.weather-forecast > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-forecast > div:first-child {
  border-right: 1px solid;
}

.weather-forecast > div:last-child {
  border-left: 1px solid;
}

#weather {
  text-align: center;
  height: 200px;
}
